.DS_Store
*__pycache__*
#TAT-QA
TAT-QA/tatqa/dataset_tagop/roberta.large
TAT-QA/tatqa/tag_op/cache/
TAT-QA/tatqa/checkpoint*
TAT-QA/finqa/op2nl_output*
TAT-QA/finqa/infer_res_arithmetic_table_only/*
TAT-QA/sql2text/squall.json
TAT-QA/sql2text/sql2text_all.json
TAT-QA/sql2text/sql2text_train.json
TAT-QA/sql2text/sql2text_valid.json
TAT-QA/sql2text/syn_out.json
TAT-QA/sql2text/tat_samples_gen.json
#no_use
no_use
#FEVEROUS
FEVEROUS/
#SEM-TAB-FACTS
SEM-TAB-FACTS/sem-tab-fact
SEM-TAB-FACTS/checkpoint
#WiKiSQL
WiKiSQL/Table-Pretraining/examples/dataset
WiKiSQL/Table-Pretraining/examples/tapex.large
WiKiSQL/Table-Pretraining/examples/tapex.base
WiKiSQL/Table-Pretraining/examples/raw_dataset/wikisql_syn/data/train.db