torch-scatter==2.0.9
sklearn==0.0
pandas==1.0.5
absl-py==0.12.0
aiohttp==3.8.1
aiosignal==1.2.0
antlr4-python3-runtime==4.8
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
avro-python3==1.9.2.1
Babel==2.10.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bert-score==0.3.11
bitarray==2.6.0
bleach==5.0.0
bloom-filter==1.3.3
boto3==1.20.15
botocore==1.23.15
Brotli==1.0.9
cachetools==4.2.4
certifi==2022.5.18.1
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.6
click==7.1.2
cloudpickle==1.3.0
colorama==0.4.4
crcmod==1.7
csvs-to-sqlite==1.3
cycler==0.11.0
Cython==0.29.24
dataclasses==0.6
dateparser==1.1.0
defusedxml==0.7.1
dill==0.3.4
dm-tree==0.1.6
docopt==0.6.2
einops==0.3.0
et-xmlfile==1.1.0
fairseq==0.12.2
fastavro==1.4.9
fasteners==0.16.3
fastjsonschema==2.15.3
filelock==3.2.0
fonttools==4.28.5
frozendict==1.2
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
gast==0.3.3
gensim==3.8.3
gin-config==0.5.0
google-api-core==1.31.5
google-api-python-client==2.34.0
google-apitools==0.5.31
google-auth==1.25.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-bigquery==1.28.0
google-cloud-bigtable==1.7.0
google-cloud-build==2.0.0
google-cloud-core==1.7.2
google-cloud-datastore==1.15.3
google-cloud-dlp==1.0.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.7.0
google-cloud-spanner==1.19.1
google-cloud-videointelligence==1.16.1
google-cloud-vision==1.0.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==1.3.3
googleapis-common-protos==1.54.0
greenlet==1.1.2
grpc-google-iam-v1==0.12.3
grpcio==1.43.0
grpcio-gcp==0.2.2
h5py==2.10.0
hdfs==2.6.0
html5lib==1.1
httplib2==0.17.4
huggingface-hub==0.10.0
hydra-core==1.0.7
icecream==2.1.3
idna==2.8
importlib-metadata==4.10.0
importlib-resources==5.2.2
ipython-genutils==0.2.0
jdcal==1.4.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jsonschema==4.5.1
jupyterlab-pygments==0.2.2
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
KoPL==0.0.5
libcst==0.3.23
lxml==4.6.5
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mlperf-compliance==0.0.10
mock==2.0.0
monai==0.7.0
more-itertools==8.13.0
multidict==5.2.0
multiprocess==0.70.12.2
multivolumefile==0.2.3
mypy-extensions==0.4.3
nibabel==3.1.1
nltk==3.6.7
numpy==1.20.3
oauth2client==4.1.3
oauthlib==3.1.1
omegaconf==2.0.6
opencv-python-headless==4.5.5.62
openpyxl==2.4.11
opt-einsum==3.3.0
orjson==3.6.5
pandocfilters==1.5.0
pbr==5.8.0
pluggy==0.13.1
portalocker==2.3.2
portpicker==1.2.0
promise==2.3
prompt-toolkit==1.0.18
proto-plus==1.19.8
protobuf==3.19.1
py==1.11.0
py-cpuinfo==8.0.0
py-lru-cache==0.1.4
py7zr==0.18.9
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybcj==0.6.0
pycparser==2.20
pycryptodomex==3.15.0
pydot==1.4.2
pymongo==3.12.3
pyppmd==0.18.2
pyrsistent==0.18.1
pytest==5.3.2
python-slugify==5.0.2
pytorch-pretrained-bert==0.6.2
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.4.1
pyzstd==0.15.2
records==0.5.3
regex==2021.9.24
requests==2.28.1
requests-oauthlib==1.3.0
responses==0.10.15
rouge-score==0.0.4
rsa==4.8
s3transfer==0.5.0
sacrebleu==2.0.0
sacremoses==0.0.46
scikit-learn==0.22.1
scipy==1.4.1
sentencepiece==0.1.96
simplegeneric==0.8.1
six==1.16.0
slugify==0.0.1
smart-open==5.2.1
soupsieve==2.3.1
SQLAlchemy==1.4.25
tablib==3.0.0
tabulate==0.8.9
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.1
tensorflow-addons==0.15.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.3.0
tensorflow-hub==0.12.0
tensorflow-metadata==1.5.0
tensorflow-model-optimization==0.7.0
tensorflow-probability==0.11.0
termcolor==1.1.0
terminado==0.13.3
text-unidecode==1.3
texttable==1.6.4
tf-models-official==2.2.2
tf-slim==1.1.0
threadpoolctl==3.0.0
tinycss2==1.1.1
tokenizers==0.12.1
torch==1.9.1
torchaudio==0.9.0a0+a85b239
torchvision==0.10.1
tornado==4.5.3
tqdm==4.64.0
transformers==4.22.2
typeguard==2.13.3
typing==3.7.4.1
typing-inspect==0.7.1
tzdata==2021.5
tzlocal==4.1
uritemplate==4.1.1
urllib3==1.25.4
webencodings==0.5.1
Werkzeug==2.0.2
wikiextractor==3.0.6
wrapt==1.13.3
xxhash==2.0.2
yarl==1.7.2
zipfile-deflate64==0.2.0
zipp==3.6.0
